[init]
	defaultBranch = main
[user]
	name = ""
	email = ""
[alias]
	s = status 
	c = commit 
	b = branch
[core]
	editor = vi
	fileMode = false
	autocrlf = input
[color]
	ui = auto
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[diff]
	rename = copies
	algorithm = histogram
[help]
	autoCorrect = 5

[include]
	path = ~/.gitconfig_local
